@media (max-width: 1199px) {
    .shop-marketplaxe-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .product-list {
        grid-template-columns: repeat(3, 1fr);

    }

    .sp {
        padding: 40px 0;
    }

    .hero-sec {

        padding: 50px 0;
        height: auto;
    }

    .hero-content h1 {
        font-size: 30px;

    }

    .hero-content p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 991px) {
    .menu-list {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--color-white);
        height: 100vh;
        overflow-x: hidden;
        transition: width 0.3s ease;
        z-index: 9999;
        padding-top: 3.75rem;
        max-width: 18.75rem;
    }

    .menu-list.open {
        width: 100%;
        transition: width 0.3s ease;
    }

    .menu-list ul li a {
        color: var(--color-black);
    }

    span.menu-close {
        padding: 0.375rem;
        display: block;
        border-radius: 0.375rem;
        width: 2.813rem;
        height: 2.813rem;
        text-align: center;
        box-shadow: 0 0 25px rgb(0 0 0 / .1);
        line-height: 2rem;
        background: var(--white);
        color: var(--color-black);
        position: absolute;
        right: 0.438rem;
        top: 0.313rem;
        font-size: 1.125rem;
    }

    .menu-icon .toggle-btn {
        display: block;
    }

    .menu-list ul {
        flex-direction: column;
    }

    .footer-inner {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);

    }

    .section-title {
        font-size: 32px;
    }

    .newsletter-content h2 {
        font-size: 32px;
    }

    .deal-bnr-content p {
        font-size: 16px;
        line-height: 26px;


    }

    .deal-bnr-content h2 {
        font-size: 32px;

    }

    .deal-bnr-content {
        height: 350px;
        padding: 50px 20px;
    }

    .inr-bnr-content h1 {
        font-size: 28px;

    }

    .inr-bnr-content p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;

    }

    .about-story-inr .row .col-lg-4.col-md-6 {
        margin-bottom: 20px;
    }

    .product discovery platform-inr .row .col-lg-3.col-md-6 {
        margin-bottom: 20px;
    }

    .review-title {
        font-size: 30px;

    }

    .review-text {
        font-size: 16px;

    }
    .assistance-inr .row .col-lg-3.col-md-6 {
    margin-bottom: 20px;
}
}

@media (max-width: 575px) {
    .footer-inner {

        grid-template-columns: 1fr;

    }

    .product-list {
        grid-template-columns: repeat(1, 1fr);

    }

    .shop-marketplaxe-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .newsletter-inner {

        flex-direction: column;
    }

    .newsletter-inner input {
        flex: unset;

    }

    .header-btn a {
        font-size: 14px;
        padding: 11px 10px;
        font-weight: 400;
    }

    .header-logo img {
        max-width: 180px;
    }

    .category-img {
        width: auto;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .hero-btn {
        gap: 10px;
    }
}

@media (max-width: 350px) {
    .header-logo img {
        max-width: 160px;
    }

    .btn-secondary {
        padding: 11px 16px;

    }
}