@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #088178;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-hover: #056d6e;


    /* Font */
    --font-text: "DM Sans", sans-serif;
    --font-heading: "Urbanist", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);

}

p,
span,
li,
a,
label,
strong {
    font-family: var(--font-text);
}

/* Top Header css */
.top-header {
    background-color: var(--color-primary);
    padding: 15px;
    font-family: var(--font-text);
    font-size: 14px;
}

.announcement {
    text-align: center;
}

.announcement span {
    color: var(--color-white);
}

/* main header css */
.main-header {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc45;
    z-index: 999;
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: slideDown 0.35s ease-out;
    background-color: var(--color-white);
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 1px 0 rgb(20 20 20 / 8%);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

span.menu-close {
    display: none;
}

.menu-icon .toggle-btn {
    display: none;
}

.menu-list ul li a {
    color: #212529;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-text);
    letter-spacing: .25px;
    transition: all 0.3s ease;
    position: relative;
}

.menu-list ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--color-primary);
    transition: width 0.3s ease;
}

.menu-list ul li a:hover,
.menu-list ul li a.active {
    color: var(--color-primary);
}

.menu-list ul li a:hover::after,
.menu-list ul li a.active::after {
    width: 100%;
}

.header-btn a {
    background-color: var(--color-primary);
    color: #fff;
    box-shadow: 0 6px 15px rgba(8, 129, 120, 0.16);
    border-radius: .5rem;
    padding: 11px 21px;
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 600;
}

.header-btn a:hover {
    background-color: var(--color-hover);
}

/*  */
.hero-sec {
    background: url(../images/hero-bnr.png)no-repeat center;
    background-size: cover;
    padding: 140px 0;
    height: 800px;
}

.hero-content span {
    display: inline-block;
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: var(--font-text);
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
    color: var(--color-white);
}

.hero-content p {
    font-size: 18px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 35px;
    font-family: var(--font-text);
}

.hero-content {
    max-width: 590px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 6px 15px rgba(8, 129, 120, 0.16);
    border-radius: .5rem;
    padding: 11px 21px;
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 600;
    transition: width 0.3s ease;
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: 0 6px 15px rgba(8, 129, 120, 0.16);
    border-radius: .5rem;
    padding: 11px 21px;
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 600;
    transition: width 0.3s ease;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--color-hover);
    color: #fff;
}

.hero-btn {
    display: flex;
    gap: 20px;
}

.sp {
    padding: 60px 0;
}

.shop-by-sport {
    background-color: #f5f5f545;
}

/*  */
.section-subtitle {
    display: block;
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: var(--font-text);
    text-align: center;
}

.section-title {
    font-size: 46px;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 10px;
    text-align: center;
}

.shop-by-inner p {
    max-width: 620px;
    margin: auto;
    color: var(--text);
    line-height: 1.8;
    margin-bottom: 60px;
    text-align: center;
    font-size: 16px;
}

.category-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.4s ease;

}

.category-img {
    height: 183px;
    width: 183px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.category-items:hover img {
    transform: scale(1.15);
}

.category-items {
    text-align: center;
}

.category-items p {
    color: #212529;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-text);
    letter-spacing: .25px;
    transition: all 0.3s ease;
    position: relative;
    margin: 0;
}

.category-items:hover p {
    color: var(--color-primary);
}

/* Slick Arrows */
.category-sec .slick-prev,
.category-sec .slick-next {
    position: absolute;
    top: -85px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #f5f5f5;
    border: 1px solid #ececec;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    z-index: 10;
}

.category-sec .slick-prev {
    right: 70px;
    left: auto;
}

.category-sec .slick-next {
    right: 0;
}

/* Remove Default Icon */
.category-sec .slick-prev:before,
.category-sec .slick-next:before {
    display: none;
}

/* Custom Arrow */
.category-sec .slick-prev::after {
    content: "‹";
    font-size: 30px;
    color: #1f2937;
    /* line-height: 1; */
    position: absolute;
    top: 42%;
}

.category-sec .slick-next::after {
    content: "›";
    font-size: 30px;
    color: #1f2937;
    line-height: 1;
    position: absolute;
    top: 15%;
}

/* Hover */
.category-sec .slick-prev:hover,
.category-sec .slick-next:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

.category-sec .slick-prev:hover::after,
.category-sec .slick-next:hover::after {
    color: #fff;
}

.category {
    margin-top: 130px;
}


.featured-products {
    padding: 60px 0;
}


.featured-top-text p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--color-black);
    margin-bottom: 35px;
    font-family: var(--font-text);
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-list .product-items {
    background: #fff;
    padding: 16px;
    border-radius: 16px;
    transition: all 0.3s ease;
    border: 1px solid #dfe3e8;
}

.product-list .product-items:hover {
    border: 1px solid var(--color-primary);

}

.product-img {
    height: 250px;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}

.product-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 0.3s ease;
    width: 100%;
}

.product-list .product-items:hover img {
    transform: scale(1.15);
}

.product-content h3 {
    color: #212529;
    text-decoration: none;
    font-size: 1.375rem;
    font-weight: 600;
    font-family: var(--font-text);
    letter-spacing: .25px;
    margin: 0;
}

.shop-marketplaxe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 60px;
}

.why-shop-marketplaxe {
    background-color: #f5f5f545;
}

.marketplaxe-grid-list {
    background: var(--color-white);
    border: 1px solid #ececec;
    border-radius: 18px;
    padding: 30px 20px;
    text-align: center;
    transition: .35s;
    height: 100%;
}

.marketplaxe-grid-list:hover {
    border: 1px solid var(--color-primary);

}

.marketplaxe-icon {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: rgba(8, 129, 120, .08);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    transition: .35s;
}

.marketplaxe-content h3 {
    font-size: 22px;
    font-weight: 600;
}


.marketplaxe-content p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-black);
    margin-bottom: 35px;
    font-family: var(--font-text);
    text-align: center;
}

.marketplaxe-grid-list:hover .marketplaxe-icon {
    background-color: var(--color-primary)
}

.marketplaxe-grid-list:hover .marketplaxe-icon svg {
    stroke: var(--color-white);
}

.deal-bnr-content {
    background: url(../images/deal-banner.png)no-repeat center;
    padding: 150px 50px;
    border-radius: 20px;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.deal-bnr-content::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #00000024;
    z-index: -1;
}

.deal-bnr-content h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.deal-bnr-content p {
    font-size: 18px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 35px;
    font-family: var(--font-text);
    max-width: 500px;
}

.newsletter {
    background-color: #f5f5f545;
}

.newsletter-content h2 {
    font-size: 38px;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 10px;
    text-align: center;
}

.newsletter-content p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-black);
    margin-bottom: 20px;
    font-family: var(--font-text);
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.newsletter-inner {
    display: flex;
    gap: 15px;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 30px;

}

.newsletter-inner input {
    flex: 1;
    height: 58px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #ececec;
    outline: none;
}

.newsletter-inner button {
    box-shadow: none;
    border: 1px solid;
}

.newsletter-content {
    max-width: 800px;
    margin: 0 auto;
}

.product-content {
    margin-top: 16px;
}

.rating {
    padding: 5px 0;
}

.footer {
    background: #04535c;
}

.footer-inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 30px;
    padding: 40px 0;
}

.footer-inner h2 {
    margin-bottom: 22px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.footer-links ul li a {
    transition: .3s;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 6px;
}

.footer-links ul li a:hover {
    color: var(--color-hover);
    padding-left: 5px;
}

.footer-logo p {
    font-size: 16px;
    color: rgb(255 255 255);
    margin-bottom: 35px;
    font-family: var(--font-text);
    line-height: 25px;
    max-width: 380px;
    width: 100%;
    font-weight: 600;
    margin-top: 22px;
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, .08);
}

.footer-bottom p {
    margin: 0;
    text-align: center;
    transition: .3s;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom p a {
    color: var(--color-primary);
    text-decoration: none;
}

.footer-contact ul li {
    margin-bottom: 12px;
    color: #fff;
    line-height: 1.6;
    font-family: var(--font-text);
}

.footer-contact ul li a {
    color: #fff;
    line-height: 1.6;
    font-family: var(--font-text);
    text-decoration: none;
}



/* Cookies CSS Start */
.cookie-alert {
    position: fixed;
    bottom: 0.938rem;
    right: 0.938rem;
    width: 20rem;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    border: 0.188rem solid var(--color-primary);
    border-radius: 1.875rem;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookie-alert .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--charcoal);
}

.cookie-alert .card-text {
    font-size: 0.9375rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--charcoal);
    font-weight: 600;
}

.cookie-alert .card-text a {
    color: var(--theme);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.btn-toolbar .butn {
    padding: 0.625rem 1.25rem;
    font-size: 0.9375rem;
}

.accept-cookies {
    padding: 0.875rem 1.875rem;
    border-radius: 3.125rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
    display: inline-block;
    border: 0.125rem solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
}

.reject-cookies {
    padding: 0.875rem 1.875rem;
    border-radius: 3.125rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
    display: inline-block;
    border: 0.125rem solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}

/* Cookies CSS End */

/*  */
.inr-bnr {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 30.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: var(--color-white);
}

.breadcrumb a {
    color: var(--color-white);
    text-decoration: none;
    transition: .3s;
}

.breadcrumb a:hover {
    color: var(--color-primary);
}

.breadcrumb span:last-child {
    color: #ccc;
}

.inr-bnr-content span {
    display: inline-block;
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: var(--font-text);
}

.inr-bnr-content h1 {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
    color: var(--color-white);
}

.inr-bnr-content p {
    font-size: 18px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 35px;
    font-family: var(--font-text);
    max-width: 630px;
    width: 100%;
}

.shop-products .product-list {
    margin-top: 60px;
}

.shop-new {
    background: transparent;
}

.shop-why {
    margin-top: 0;
}

.blog-card-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.blog-card-image {
    overflow: hidden;
    border-radius: 12px;
}

.blog-card-content {
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 12px;
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

.blogs-sec {
    background-color: #f8f7f4;
}

.blog-card-content h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}

.blog-card-content h2 a {
    color: var(--color-black);
    text-decoration: none;
}

.blog-card-wrapper .row .col-lg-4.col-md-4 {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.blog-card {
    height: 100%;
}

.blog-card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    border-radius: 10px;

}

.blog-card-image img {
    width: 100%;
    display: block;
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.blog-card-content h2 {
    margin-bottom: 15px;
}

.blog-card-content p {
    flex: 1;
    margin-bottom: 20px;
}

.read-more {
    margin-top: auto;
}

.articles-text {
    margin-bottom: 50px;
}

.articles-text p {
    text-align: center;
    color: #212529;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-text);
    letter-spacing: .25px;
    transition: all 0.3s ease;
    position: relative;
    margin: 0;
}



.blog-header h1 {
    font-size: 30px;
    font-weight: bold;
}

.blog-content-details ul li,
.content-box-p ul li {
    position: relative;
    padding-bottom: 12px;
    padding-left: 23px;
}

.blog-content-details ul li::after,
.content-box-p ul li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 8px;
    height: 8px;
    display: block;
    background: #04535c;
    border-radius: 50%;
}

.blog-content-details h2 {
    font-size: 26px;
    font-weight: bold;
}

.blog-featured-image {
    margin-bottom: 50px;
}

.blog-featured-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
    display: block;
}

.content-box-p h2 {
    font-size: 24px;
    font-weight: 600;
}

.content-box-p strong {
    margin-bottom: 16px;
    display: block;
    font-size: 20px;
    font-family: var(--font-text);
}

.content-box-p p a,
.privacy-inner a {
    color: var(--color-primary);
    text-decoration: none;
}

.assist-card {
    border: 1px solid #dfe3e8;
    padding: 24px;
    border-radius: 1rem;
    height: 100%;
    transition: all .3s ease;
}

.assist-card:hover {
    border: 1px solid var(--color-primary);

}

.con-icon {
    width: 48px;
    height: 48px;
    background: #919eab14;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.assist-card p {
    color: #212529;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-text);
    letter-spacing: .25px;
    margin: 0;
}

.assist-card a,
.assist-card span {
    color: #495057;
    text-decoration: none;
    font-size: 16px;
}

.contact-form {
    background: #f5f5f545;
    padding: 60px 0;
}

.contact-form-box {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
}

.field input,
.field textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    background: #fff;
    outline: none;
    transition: all .3s ease;
}

small.error-message {
    color: red;
    font-family: var(--font-text);
}

.field label {
    font-size: 14px;
    margin-bottom: 5px;
}

.field {
    margin-bottom: 0.625rem;
}

.submit {
    border: 1px solid;
}

.contact-title {
    font-size: 24px;
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 20px;
}

.faq-sec {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0px;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.faq-sec .section-title h2 {
    font-size: 24px;
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
}

.accordion-item button {
    font-weight: 600;
}

form#newsletterForm small {
    text-align: center;
    font-size: 14px;
    font-family: var(--font-text);
}

.about-story {
    border: 1px solid #dfe3e8;
    padding: 24px;
    border-radius: 1rem;
    height: 100%;
    transition: all .3s ease;
}

.about-story h2 {
    font-size: 3.75rem;
    /* 60px */
    line-height: 1;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 12px;
}

.about-story span {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #6b7280;
    display: block;
    margin-bottom: 5px;
}

.about-story h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}

.about-story p {
    color: #495057;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
}

.marketplace-stats {
    background: #f5f5f545;
}

.stat-card {
    border: 1px solid #dfe3e8;
    padding: 24px;
    border-radius: 1rem;
    height: 100%;
    transition: all .3s ease;
}

.stat-card {
    border: 1px solid #dfe3e8;
    padding: 24px;
    border-radius: 1rem;
    height: 100%;
    transition: all .3s ease;
}

.stat-card:hover {
    border: 1px solid var(--color-primary);
    transform: translateY(-5px);
}

.stats-sec-h h2 {
    font-size: 38px;
    font-weight: 700;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 50px;
}

.stat-card h3 {
    font-size: 34px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 10px;
    color: transparent;
    -webkit-text-stroke: 2px var(--color-primary);
    text-align: center;
}

.stat-card p {
    font-size: 18px;
    line-height: 1.8;
    color: #495057;
    font-family: var(--font-text);
    text-align: center;
    margin: 0;
}


.review-card {
    background: #fff;
    border-radius: 24px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .08);
    position: relative;
    overflow: hidden;
}

.customer-inr {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.stars {
    color: #ffc107;
    font-size: 28px;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.review-title {
    color: #111827;
    font-size: 38px;
    margin-bottom: 0;
    font-weight: 600;
}

.reviewer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.reviewer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer h4 {
    color: #111827;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.reviewer span {
    color: #6b7280;
    font-size: 15px;
}

.review-text {
    font-size: 18px;
    line-height: 1.8;
    color: #4b5563;
    font-style: italic;
    margin-bottom: 30px;
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--color-primary);
    color: #fff;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    z-index: 5;
}

.bg-light-cst {
    background: #f5f5f545;
}

.dro-item-card {
    border: 1px solid #dfe3e8;
    padding: 24px;
    border-radius: 1rem;
    height: 100%;
    transition: all .3s ease;
}

.dro-item-card:hover {
    border: 1px solid var(--color-primary);
    transform: translateY(-6px);

}

.dro-inr .row .col-md-4 {
    margin-bottom: 24px;
}

.dro-inr .row {
    margin-top: 50px;
}

.dro-item-card h3 {
    font-size: 22px;
    font-weight: 600;
}


.dro-item-card p {
    color: #495057;
    text-decoration: none;
    font-size: 16px;
}